*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    font-family: "Inter", sans-serif;
}

.topHeader{
    background-color: #000;
    padding: 10px 50px; 
    display: flex;
    color: #fff;
}

header{
  display: flex;
  padding: 17px 40px 0 0;
  align-items: center;
  gap: 60px;
  position: sticky;
  top: 0;
  background-color: #fff;
  padding: 0 50px;
}

header img{
    height: 60px;
}



#sx ul, 
#dx ul {
    display: flex;
    list-style: none;
    gap: 15px;
}

#sx ul, 
#dx ul, a {
    text-decoration: none;
}


#dx a{
    background: #000;
    padding: 10px 30px;
    border: 2px solid #000;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

#sx a:hover{
    text-decoration: underline;
    text-decoration-line: 3px;
}

#dx a:hover{ color: #000; background-color: #fff;}

#sx a{
    color: #121212;
    font-weight: bold;
}

#sx{
    flex-grow: 1;
}

/* Hero section */

.hero{
    height: 100vh;
    background-image: url(../MEDIA/HeroCover.jpg);
    background-color: #06333b;
    background-blend-mode: screen;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    padding: 50px;
 
}


.boxInfo{
    width: 60vw;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 1.2;
    gap: 12px;
    
}

.boxInfo h1{
    font-size: 6rem;
    text-transform: uppercase;
}

.boxInfo h4{
    font-size: 2.5rem;
}

.boxInfo p{
    font-size: 1.2rem;
}

.btn{
    background: #000;
    display: inline-block;
    padding: 15px 30px;
    border: 2px solid #000;
    border-radius: 30px;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

a .btn:hover{
    background-color: #fff;
    color: #000;
}

