#titoloPrincipale{
    background-color: #ffff02;
    padding: .5rem 1rem;
}

#paragrafoSpeciale{
    border: 1px solid red;
}


.evidenziato{
    background-color: #05b8b8;
    font-weight: bold;
}

.piccolo{
    color: grey;
    font-size: 12px;
}


#container{
    border: 1px solid #5c035c;
    text-align: center;
}

#container h2{
    text-align: center;
}
.box{
    width: 200px;
    height: 100px;
    background-color: #036403;
    text-align: center;
    align-content: center;
    display: inline-block;   
}